header {
  display: flex;
  background-color: #9ee1ac;
  height: 400px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  align-items: center;
}

/* .avatar {
  /* align-items: center; 
}*/