.top {
  display: flex;
  background-color: #eebc18;
  height: 425px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  align-items: center;
  color: #FFFFFF;
  margin-top: 120px;

}

.font-weight-normal {
  font-weight: normal;
}

#avatar {
  cursor: pointer
}
 
#avatar:hover {
  top: 10px;
  transform: scale(1.1); 
}