nav {
  display: flex;
  z-index: 3;
  color: #FFFFFF;
  background-color: #4056a1;
  font-size: 24px;
  justify-content: space-between;
  -moz-box-sizing: border-box;
         padding: 1.5em; 
         box-sizing: border-box;
         height: 120px;
         margin: 0px;
         border-width: 0px;
  
}

nav span {
  font-family: 'Bungee', sans-serif;
}
.nav-container {
  display: flex;
  flex-direction: column;
 
}

.write-tweet {
  display: flex;
  align-items: flex-end;
}

.bold {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  padding-right: 3px;
}

.arrow {
  display: flex;
  color: red;
  justify-content: center;
}

.header {
  z-index: 3
}
