.button {
  background-color: #4056a1; 
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Bungee';
  height: 40px;
  
}

.button:hover {
  border: 3px solid rgb(52, 97, 243);
  transition: .5s background-color;
}

.counter {
  align-items: center;
  font-family: 'bungee';
  font-weight: bold;
}

.newCount {
  align-items: center;
  font-family: 'bungee';
  font-weight: bold;
  color: red
}

.text-area {
  border: none;
  border-bottom: 5px solid #545149;
  width: 100%;
  background-color: transparent;
  height: 63px;
}

.button-area {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.humming-label {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

#errorTooLong {
  border: 5px solid red;
  color: red; 
  width: 85%;
  margin: 1em auto ;

}

#errorEmpty {
  border: 5px solid red;
  color: red;
  width: 85%;
  margin: 1em auto ;

}


