.button {
  background-color: #4056a1; 
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Bungee';
  height: 30px;
  
}

.button:hover {
  border: 3px solid rgb(52, 97, 243);
  transition: .5s background-color;
}

.counter {
  align-items: center;
  font-family: 'bungee';
  font-weight: bold;
}

.newCount {
  align-items: center;
  font-family: 'bungee';
  font-weight: bold;
  color: red
}

.text-area {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  background-color: transparent;
  height: 40px;
}

.button-area {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.humming-label {
  display: flex;
  justify-content: flex-start;
}